/*  Rotate Earth */

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*  Run Clouds */

@-webkit-keyframes run {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 1920px 0;
    }
}

@-moz-keyframes run {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 1920px 0;
    }
}

@-o-keyframes run {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 1920px 0;
    }
}

@keyframes run {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 1920px 0;
    }
}


/* Run Sun */

/* sky */

@-webkit-keyframes sky {
    0% {
        background-color: #444;
    }

    15% {
        background-color: #eb8f32;
    }

    50% {
        background-color: lightblue;
    }

    85% {
        background-color: #8D3118;
    }

    100% {
        background-color: #444;
    }
}

@-moz-keyframes sky {
    0% {
        background-color: #444;
    }

    15% {
        background-color: #eb8f32;
    }

    50% {
        background-color: lightblue;
    }

    85% {
        background-color: #8D3118;
    }

    100% {
        background-color: #444;
    }
}

@-o-keyframes sky {
    0% {
        background-color: #444;
    }

    15% {
        background-color: #eb8f32;
    }

    50% {
        background-color: lightblue;
    }

    85% {
        background-color: #8D3118;
    }

    100% {
        background-color: #444;
    }
}

@keyframes sky {
    0% {
        background-color: #444;
    }

    15% {
        background-color: #eb8f32;
    }

    50% {
        background-color: lightblue;
    }

    85% {
        background-color: #8D3118;
    }

    100% {
        background-color: #444;
    }
}

/* sun */

@-webkit-keyframes run-sun {
    0% {
        left: 10%;
        bottom: 0;
    }

    50% {
        bottom: 80%;
    }

    100% {
        left: 90%;
        bottom: 0;
    }
}

@-moz-keyframes run-sun {
    0% {
        left: 10%;
        bottom: 0;
    }

    50% {
        bottom: 80%;
    }

    100% {
        left: 90%;
        bottom: 0;
    }
}

@-o-keyframes run-sun {
    0% {
        left: 10%;
        bottom: 0;
    }

    50% {
        bottom: 80%;
    }

    100% {
        left: 90%;
        bottom: 0;
    }
}

@keyframes run-sun {
    0% {
        left: 0;
        bottom: 0;
    }

    50% {
        bottom: 80%;
    }

    100% {
        left: 100%;
        bottom: 0;
    }
}


/* Car Jump */

@-webkit-keyframes jump {
    0% {
        top: 4%;
    }

    3.5% {
        top: 4%;
    }

    4% {
        top: 3%;
    }

    26% {
        top: 3%;
    }

    26.5% {
        top: 4%;
    }

    52.5% {
        top: 4%;
    }

    53% {
        top: 3%;
    }

    69.5% {
        top: 3%;
    }

    70% {
        top: 4%;
    }

    79% {
        top: 4%;
    }

    79.5% {
        top: 3%;
    }

    91% {
        top: 3%;
    }

    91.5% {
        top: 4%;
    }

    100% {
        top: 4%;
    }
}

@-moz-keyframes jump {
    0% {
        top: 4%;
    }

    3.5% {
        top: 4%;
    }

    4% {
        top: 3%;
    }

    26% {
        top: 3%;
    }

    26.5% {
        top: 4%;
    }

    52.5% {
        top: 4%;
    }

    53% {
        top: 3%;
    }

    69.5% {
        top: 3%;
    }

    70% {
        top: 4%;
    }

    79% {
        top: 4%;
    }

    79.5% {
        top: 3%;
    }

    91% {
        top: 3%;
    }

    91.5% {
        top: 4%;
    }

    100% {
        top: 4%;
    }
}

@-o-keyframes jump {
    0% {
        top: 4%;
    }

    3.5% {
        top: 4%;
    }

    4% {
        top: 3%;
    }

    26% {
        top: 3%;
    }

    26.5% {
        top: 4%;
    }

    52.5% {
        top: 4%;
    }

    53% {
        top: 3%;
    }

    69.5% {
        top: 3%;
    }

    70% {
        top: 4%;
    }

    79% {
        top: 4%;
    }

    79.5% {
        top: 3%;
    }

    91% {
        top: 3%;
    }

    91.5% {
        top: 4%;
    }

    100% {
        top: 4%;
    }
}


@keyframes jump {
    0% {
        top: 4%;
        left: 56%;
        margin-left: -11.8%;
    }

    3% {
        top: 4%;
        left: 56%;
        margin-left: -11.8%;
    }

    3.5% {
        top: 3%;
        left: 56%;
        margin-left: -11.8%;
    }

    26% {
        top: 3%;
        left: 56%;
        margin-left: -11.8%;
    }

    26.5% {
        top: 4%;
        left: 56%;
        margin-left: -11.8%;
    }

    34.5% {
        top: 4%;
        left: 56%;
        margin-left: -11.8%;
    }

    35% {
        top: 3%;
        left: 56%;
        margin-left: -11.8%;
    }

    69.5% {
        top: 3%;
        left: 56%;
        margin-left: -11.8%;
    }

    70% {
        top: 4%;
        left: 56%;
        margin-left: -11.8%;
    }

    76% {
        top: 4%;
        left: 56%;
        margin-left: -11.8%;
    }

    76.5% {
        top: 3%;
        left: 56%;
        margin-left: -11.8%;
    }

    91% {
        top: 3%;
        left: 56%;
        margin-left: -11.8%;
    }

    91.5% {
        top: 4%;
        left: 56%;
        margin-left: -11.8%;
    }

    100% {
        top: 4%;
        left: 56%;
        margin-left: -11.8%;
    }
}

/* Lighthouse Shining */



@-webkit-keyframes light {
    0% {

        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }

    10% {
        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }

    11% {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    70% {

        -webkit-box-shadow: none;
        box-shadow: none;
    }

    71% {

        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }

    90% {
        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }

    100% {
        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }
}

@-moz-keyframes light {
    0% {

        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }

    10% {
        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }

    11% {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    70% {

        -webkit-box-shadow: none;
        box-shadow: none;
    }

    71% {

        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }

    90% {
        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }

    100% {
        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }
}

@-o-keyframes light {
    0% {

        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }

    10% {
        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }

    11% {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    70% {

        -webkit-box-shadow: none;
        box-shadow: none;
    }

    71% {

        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }

    90% {
        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }

    100% {
        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }
}



@keyframes light {
    0% {

        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }

    10% {
        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }

    11% {
        -webkit-box-shadow: none;
        box-shadow: none
    }

    70% {

        -webkit-box-shadow: none;

        box-shadow: none;
    }

    71% {

        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);

        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }

    90% {
        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }

    100% {
        -webkit-box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
        box-shadow: 0px -70px 299px 40px rgba(255, 255, 0, 1);
    }
}
